.errors {
  color: red;
  list-style: none;
}

.form-input:focus {
  outline-color: #B2A19B;
}

.contact-form {
  color: white;
  letter-spacing: 0.2em;
}

.send-button {
  cursor: pointer;
}

.contact-intro {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  text-align: center;
  color: ghostwhite;
  letter-spacing: 0.2em;
}

.contact-intro a {
  color: grey;
}

.contact-intro h1 {
  margin: 0;
}

.thanks-text {
  color: white;
  letter-spacing: 0.3em;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10%;
}
