{% extends "_layout" %}

{% block content %}

<div class='gallery-wrapper'>


	{% set categories = craft.categories.group('galleryCategory').find() %}

        {% for category in categories %}
            {% for entry in craft.entries.section('gallery').relatedTo(category).find() %}
							 <a class='lightbox-trigger thumbnail' href="{{ entry.galleryImage.first().getUrl() }}" data-lightbox="gallery">
								 <img class='portrait' src='{{ entry.galleryImage.first().getUrl() }}'>
							 </a>
            {% endfor %}

    {% endfor %}
</div>
{% endblock %}
