
{% extends "_layout" %}

{% block content %}

<header>
  <div class="cover bg-left bg-center-l hero" style="background-image: url({{ siteUrl ~ 'public/assets/images/hero.png' }});">
    <div class="bg-black-80 pb5 pb6-m pb7-l">
      <nav class="dt w-100 mw8 center">
          <a href="{{ siteUrl }}"><div class='nav-logo' style="background-image: url({{ siteUrl ~ 'public/assets/images/logo.png' }});"></div></a>
        <div class="dtc v-mid tr pa3">
          <a class="f6 fw4 hover-white no-underline white-70 dib-ns pv2 ph3" href="{{ url('portfolio') }}" >Portfolio</a>
          <a class="f6 fw4 hover-white no-underline white-70 dib-ns pv2 ph3" href="{{ url('about') }}" >About</a>
          <a class="f6 fw4 hover-white no-underline white-70 dib-ns pv2 ph3" href="{{ url('contact') }}" >Contact</a>
        </div>
      </nav>
      <div class="tc-l mt4 mt5-m mt6-l ph3">
        <img src="{{ siteUrl ~ 'public/assets/images/logo.png' }}">
        <h2 class="fw1 f3 white-80 mt3 mb4 tagline">Caitriona Oladapo | Stylist</h2>
        <a class="f6 no-underline grow dib v-mid white ba b--white ph3 pv2 mb3" href="{{ url('portfolio') }}">Portfolio</a>
      </div>
    </div>
  </div>
</header>

<div class='fl w-25 section-image-parent'>
  <div class='section-image-child' style="background-image: url({{ siteUrl ~ 'public/assets/images/section-1.jpg' }})">
    <div class="overlay"></div>
    <a href="{{ url('portfolio') }}" class='section-title'>Portfolio</a>
  </div>
</div>

<div class='fl w-25 section-image-parent'>
  <div class='section-image-child' style="background-image: url({{ siteUrl ~ 'public/assets/images/section-2.jpg' }})">
    <div class="overlay"></div>
    <a href="{{ url('about') }}" class='section-title'>About</a>
  </div>
</div>

<div class='fl w-25 section-image-parent'>
  <div class='section-image-child' style="background-image: url({{ siteUrl ~ 'public/assets/images/section-3.jpg' }})">
    <div class="overlay"></div>
    <a href="{{ url('contact') }}" class='section-title'>Contact</a>
  </div>
</div>

{% endblock %}
